[submodule "frontend"]
	path = frontend
	url = https://github.com/IO-AtelierTech/adx420-frontend
[submodule "npmskd"]
	path = npmskd
	url = https://github.com/IO-AtelierTech/adx402-npmsdk
[submodule "backend"]
	path = backend
	url = https://github.com/IO-AtelierTech/adx402-backend
